<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

	<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">

	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
	{% block style %}
	{% endblock %}
	
	<title>
	{% block title %}
	Renegade Boxing Club
	{% endblock %}
	</title>
		
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/menu.js"></script>
	{% block scripts %}
	{% endblock %}

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34516297-1']);
	  _gaq.push(['_setDomainName', 'renegade-boxing.com']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>
<body>
	<div id="banner"> 
		<img src="{{ STATIC_URL }}images/banner.png" alt="Renegade Boxing" align="left">
		<p> Call today </p>
		<p id="phnumber"> (774) 2BO-XING </p>
	</div>

{% block menu %}
	<div id="cssmenu">
		<ul>
			<img src='{{ STATIC_URL }}images/nav-color.png'>
			<li><a href={% url home %}>Home</a></li>
			<li style='left: 166px'><a href={% url news %}>News</a></li>
			<li style='left: 332px'><a href={% url classes %}>Classes</a></li>
			<li style='left: 498px'><a href={% url staff %}>Staff</a></li>
			<li style='left: 664px'><a href={% url team %}>Team</a></li>
			<li style='left: 830px'><a href={% url contact %}>Contact</a></li>
		</ul>
	</div>
{% endblock %}

{% block body %}
	<div id="content">
		<div id="content-title">
		{% block content-title %}<h1>Content Title</h1>{% endblock %}
		</div>
		<div id ="top">
			{% block top-content %}<p>Top Text</p>{% endblock %}
		</div>
		<div id="right">
			{% block right-content %}<p>Right Text</p>{% endblock %}
		</div>
		<div id="left">
			{% block left-content %}<p>Left Text</p>{% endblock %}
		</div>
		<div id="bottom">
			{% block bottom %}<p>Bottom Text</p>{% endblock %}
		</div>
	</div>

{% block footer %}
	<div id="footer">
		<span id="foot-left">
			<h2>Opening Hours</h2>
			<p style="font-size: 1.3em">Monday-Friday</p>
			<p>5:00pm - 9:00pm</p>
		</span>
		<span id="foot-center">
			<h2>Contact</h2>
			<p>1134 Kissimmee Street</p>
			<p>Tallahassee FL, 32310</p>
			<p>info@renegade-boxing.com</p>
			<p>Ph: (774)2BO-XING</p>
		</span>
		<span id="foot-right">
			<h2>Find Us</h2>
			<iframe width="260" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?q=30.42304,-84.300883&amp;num=1&amp;t=h&amp;ie=UTF8&amp;ll=30.423059,-84.301175&amp;spn=0.002775,0.003219&amp;z=17&amp;output=embed"></iframe><br />
			<a href="https://www.google.com/maps?q=30.42304,-84.300883&amp;num=1&amp;t=h&amp;ie=UTF8&amp;ll=30.423059,-84.301175&amp;spn=0.002775,0.003219&amp;z=17&amp;source=embed">View Larger Map</a>
		</span>
	</div>
{% endblock footer %}

{% endblock body %}


</body></html>
